<h2 mat-dialog-title>{{data.titulo}}</h2>
<mat-dialog-content>
    <div fxLayout="column">
        <div>
            <h1>{{lugar.nombre}}</h1>
        </div>
        <div>
            <p>{{lugar.descripcion}}</p>
        </div>
        <div>
            <h3>Categoría: {{lugar.categoria}}</h3>
        </div>
        <div *ngIf="lugar.url_foto !== null">
            <h3>Imagen del lugar</h3>
            <img [src]="lugar.url_foto" alt="" srcset="">
        </div>
        <div *ngIf="lugar.url_video !== null">
            <h3>Video del lugar</h3>
            <iframe [src]="lugar.url_video" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>Si el video no carga es porque Youtube bloquea la solicitud</p>
        </div>
        <div fxLayout="column">
            <h3>Localización</h3>
            <div id='map'></div>
        </div>
    </div>
</mat-dialog-content>