<header>
    <div class="row">
        <div class="col-6">
            <img class="logo" src="../../../assets/DestinosNomada.png" alt="">
        </div>
        <div class="col-6 align-self-center">
            <div class="row justify-content-end">
                <div class="col-2">
                    <a (click)="openDestinos()">Destinos</a>
                </div>
                <div class="col-3">
                    <a href="#" data-toggle="modal" data-target="#modalLogin" >Iniciar Sesión</a>
                </div>
                <div class="col-3">
                    <a href="#" data-toggle="modal" data-target="#modalModif">Agregar Destinos</a>
                </div>
            </div>
        </div>
    </div>
</header>