.map {
    width: 250px;
    height: 250px;
}

h1 {
    font-size: 60px;
}

iframe {
    width: 250px;
    height: 250px;
}

img {
    width: 250px;
    height: auto;
}

p {
    font-size: 20px;
    color: black !important;
}