<h1 mat-dialog-title>¿Cual será tu lugar a Vacacionar?</h1>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="formulario" fxLayout="column" fxLayoutGap="3%" fxFill>
            <div fxLayout="row" fxFill>
                <mat-form-field appearance="outline">
                    <mat-label>Mejor Mes</mat-label>
                    <mat-select formControlName="mejor_mes">
                        <mat-option *ngFor="let mes of meses" [value]="mes.value">
                            {{mes.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Alojamiento</mat-label>
                    <mat-select formControlName="alojamiento">
                        <mat-option *ngFor="let aloj of alojamiento" [value]="aloj.value">
                            {{aloj.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Accesibilidad</mat-label>
                    <mat-select formControlName="accesibilidad">
                        <mat-option *ngFor="let opcion of tresOpcionesSel" [value]="opcion.value">
                            {{opcion.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <mat-select formControlName="precio">
                        <mat-option *ngFor="let p of precio" [value]="p.value">
                            {{p.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Clima</mat-label>
                    <mat-select formControlName="clima">
                        <mat-option *ngFor="let c of clima" [value]="c.value">
                            {{c.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Comida</mat-label>
                    <mat-select formControlName="comida">
                        <mat-option *ngFor="let opcion of tresOpcionesSel" [value]="opcion.value">
                            {{opcion.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label>Conexión a Internet</mat-label>
                    <mat-select formControlName="conexion_internet">
                        <mat-option *ngFor="let opcion of tresOpcionesSel" [value]="opcion.value">
                            {{opcion.option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <div fxLayout="column" fxLayoutGap="5%">
                    <h2>Su ubicación actual</h2>
                    <div id='map'></div>
                </div>
            </div>
            <div fxLayout="row">
                <button class="btn btn-success" [disabled]="form.invalid" (click)="calcular()">Calcular</button>
            </div>
        </div>
    </form>

</mat-dialog-content>