#map {
    width: 350px;
    height: 250px;
    margin-left: 20%;
}

mat-form-field {
    width: 500px !important;
}

h2 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    color: black !important;
}

.formulario {
    background-color: #F6F6F6;
}

button {
    background-color: #326437;
    margin-left: 30%;
}